@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


/* ----------------------------  Général  -----------------------*/
.big-title{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  padding: 4% 0 1% 0;
}
.big-title h2{
  font-size: 5em;
}

/* ------------------------  Welcome Section  -------------------*/
#home{
  height: 100vh;
  background-color: rgba(251, 251, 251, 0.6) !important;
  background-image: url('img/casual-computer.jpg');
  background-blend-mode: color;
  background-size: cover;
  color: purple;
  font-family: 'Indie Flower', cursive;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5%;
  padding-bottom: 4%;
}
#home-text{
  max-height: 40%;
}
#home-text h2{
  font-weight: bold;
  font-size: 6em;
  float: right;
  color: rgb(0,45,135);
}
#home-text p{
  font-size: 4em;
}

@media (max-width: 900px) {
  #home{
    justify-content: center;
    align-items: center;
  }
  #home-text h2{
    font-size: 3em;
    float: none;
  }
  #home-text p{
    font-size: 2em;
  }
}


/* ------------------------  A propos  -------------------*/
#about-me-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}
#about-me-text{
  flex: 1 0;
}
.question{
  font-size: 1.5em;
  font-weight: 600;
}

#about-me-photo{
  display: flex;
  flex: 0 0 400px;
  justify-content: space-around;
}
#about-me-photo img{
  max-height: 400px;
  margin: 3%;
}

@media (max-width: 900px) {
  #about-me-content{
    display: block;
  }
}

/* ------------------------  Education  -------------------*/
/* -------------------  cf dossier education  -------------*/

@media (max-width: 900px) {
  #timeline{
    max-width: 100%;
  }
  #timeline ul li img{
    width: 140px;
    height: 140px;
  }
  #timeline ul li p{
    padding: 1px;
  }
}

/* ------------------------ Expérience -------------------*/

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 3fr 1fr;
  height: 80vh;
  margin-top: 20px;
  padding: 2% 7%;
}
#faster-container{
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  display: block;
}
#treso-container{
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  display: block;
}
#asf-container{
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
  display: block;
}
#LP-container{
  grid-row: 3 / span 1;
  grid-column: 2 / span 4;
}

.dashboard-card {
  background: rgb(245,245,245);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dashboard-card img{
  max-width: 200px;
  max-height: 200px;
}
.dashboard-card div{
  display: block;
}
#asf-logo{
  width: auto;
  height: 150px;
}
.dash-img {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
}

.dashboard-card:hover {
  background: rgb(225,225,225);
  transition: 0.5s ease;
}
/*Modal background*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 200px;
  height: auto;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  /*text-align: center;*/
  color: #ccc;
  padding-top: 10px;
}
/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal{
    padding-top: 40px;
  }
  .modal-content {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .dashboard {
    display: block;
  }
  #experience{
    margin-bottom: -150px;
  }
  #experience:after{
    content:"";
    display: block;
    height: 150px;
  }
}

/* ------------------------ Footer -------------------*/
#foot{
  padding: 30px;
  background-color: rgb(225,225,225);
  color: rgb(10,10,10);
}


#foot a {
  color: rgb(10,10,10);
  font-size: 32px;
}
#foot a:hover {
  color: rgb(100,100,100);
}
@media (max-width: 1050px) {
  #foot{
    display: none;
  }
}
